#img {
    width: 150px !important;
    height: 50px !important;
}

nav {
    background-color: white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2)
}

#logout {
    padding-right: 30px;
}

.active {
    color: #1e2be2 !important;
    font-weight: bold !important;
}

.cursor {
    cursor: pointer;
}